.grid-container {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: var(--default-padding);
    grid-row-gap: var(--default-padding);
    height: 100%;
    width: 100%;
}

.panel {
    background-color: var(--white);
    margin: var(--default-margin);
    border-radius: var(--default-radius);
    filter: drop-shadow(16px 16px 16px var(--shadow));
    height: calc(100% - 2 * var(--default-padding));
    padding: var(--default-padding);
    overflow: scroll;
}


