.results-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: none;
}

.results-table td:nth-child(1) {
    width: 10%;
}

.results-table td:nth-child(2) {
    width: 90%;
}

.results-table tr#head {
    background-color: var(--shadow);
}

.results-table tr:nth-child(even) {
    background-color: var(--background);
}

.results-table tr:nth-child(odd) {
    background-color: var(--btn-background);
}

.results-table td, .results-table th {
    padding: var(--default-padding);
}