:root {
    --background-color: #cecece;
    --btn-color: #f4f4f4;
    --panel-color: #ffffff;
    --default-border-radius: 16px;
    --default-margin: 16px;
    --shadow-color: #a9a9a9;
}

* {
    box-sizing: border-box;
}

html, body {
    min-height: 100vh;
    height: 100vh;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background-color);
}
