.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 85%;
}

.content-container-vert {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}