table, tr, td {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: var(--default-margin);
    overflow: scroll;
    max-height: 200px;
    min-height: 100px;;
}

.lines-column {
    width: 10%;
} 

.ul {
    list-style-type: circle;
    display: none;
}

.opening-btn {
    padding: 8px;
    border: none;
    border-radius: var(--default-border-radius);
}
